.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.buttonMain {
    max-width: 180px;
    text-decoration: none;
}
  
.nav-bar {
    width: 100%;
    padding-top: 12px;
}

.loader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 32px);
    margin-left: -29px;
    margin-top: -29px;
}



  
  
  