
.nav {
  padding: 32px 32px;
}

.main {
  margin: 0 32px;

}

.buttonMain {
  max-width: 296px;
  width: 100%;
}


.flex {
  width: 100%;
}

.background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../../../public/background.jfif), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

